@{
    ViewBag.Title = "教职工管理系统";
}
<html>
<head>
    <link href="~/Style/authority/main_css.css" rel="stylesheet" type="text/css" />
    <link href="~/Style/authority/zTreeStyle.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/zTree/jquery.ztree.core-3.2.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>*@

    <style>
        .full {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .bottom {
            height: calc(100% - 70px);
            display: flex;
        }

        .container-fluid {
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        .btn-default {
            margin-top: 5px;
        }

        .collapseMenu {
            display: grid;
            width: 217px;
            float: right;
        }
    </style>
    <style>
        .nav > li {
            position: relative;
            display: block;
            text-align: -webkit-center;
        }

        .container-fluid {
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        body {
            padding-top: 0;
            padding-bottom: 0;
        }

        .titlefull {
            height: 80px;
            background-color: cornflowerblue;
            color: #fff;
            display: flex;
        }

        .title {
            font-style: oblique;
            font-size: 30px;
            margin-left: 10px;
            line-height: 72px;
        }

        .topDiv {
            height: 80px;
            display: flex;
        }

        .bottomDiv {
            height: calc(100% - 80px);
            display: flex;
        }

        .menuDiv {
            height: 100%;
            background-color: aliceblue;
        }


        .pager {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            border: 1px solid #dddddd;
            border-radius: 3px;
            display: inline-block;
            clear: both;
        }

            .pager a, .pager span {
                font-size: 14px;
                color: #428bca;
                border-right: 1px solid #dddddd;
                padding: 4px 9px;
                float: left;
                text-decoration: none;
            }

            .pager span {
                color: #fff;
                background: #428bca;
            }

            .pager a:hover {
                color: #2a6496;
                background: #f2f2f2;
            }

            .pager a.last {
                border-right: 0;
            }

        #menu .no {
            display: none;
        }


        #side {
            /*position: absolute;*/
            left: 0;
            top: 70px;
            bottom: 0px;
            width: 280px;
            overflow: hidden;
            border-right: 0px solid #DDDDDD;
        }

        #top {
            position: initial;
            top: 0;
            left: 0;
            right: 0;
            height: 70px;
            background-color: #303030;
        }

        .no {
            display: none;
        }

        .modal-backdrop {
            position: inherit !important;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1040;
            background-color: #000;
        }

        .form-group {
            margin-bottom: 1rem;
            display: flex;
        }

        .modal-header {
            display: block !important;
        }

        
    </style>
</head>

<body>
    <div class="full">
        <div id="top">
            <div id="top_logo">
                @*<img alt="logo" src="/images/common/logo.jpg" width="274" height="49" style="vertical-align:middle;">*@
            </div>
            <div id="top_links">
                <div id="top_op">
                    <ul>
                        <li style="float: right;margin-top: -13px;">
                            <img alt="当前用户" src="/images/common/user.jpg">：
                            <span id="user"></span>
                        </li>
                        @*<li>
                            <img alt="事务月份" src="/images/common/month.jpg">：
                            <span id="yue_fen"></span>
                        </li>
                        <li>
                            <img alt="今天是" src="/images/common/date.jpg">：
                            <span id="day_day"></span>
                        </li>*@
                    </ul>
                </div>
                <div id="top_close" style="margin-top: -10px;">
                    <a id="back">
                        <img alt="退出系统" title="退出系统" src="/images/common/close.jpg" style="position: relative; top: 10px; left: 25px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div id="side">
                <div id="left_menu">
                    <ul id="TabPage2" class="tabs" style="height:200px; margin-top:50px;">
                        <li id="page1" class="selected" title="业务模块">
                            <a href="#tab1"><img alt="业务模块" title="业务模块" src="/images/common/1_hover.jpg" width="33" height="31"></a>
                        </li>
                        <li id="page3" title="其他">
                            <a href="#tab3"><img alt="其他" title="其他" src="/images/common/2.jpg" width="33" height="31"></a>
                        </li>
                        <li id="page2" title="系统管理">
                            <a href="#tab2"><img alt="系统管理" title="系统管理" src="/images/common/3.jpg" width="33" height="31"></a>
                        </li>
                    </ul>


                    <div id="nav_show" style="position:absolute; bottom:0px; padding:10px;">
                    </div>
                </div>
                <div id="left_menu_cnt">
                    <div id="tab1" class="tab_content">
                        <div id="nav_module" style="position: inherit;">
                            <img src="/images/common/module_1.png" width="210" height="58" />
                        </div>

                        <div class="menu">
                            <div class="panel-group collapseMenu" id="accordion" role="tablist" aria-multiselectable="true">
                                <a class="btn btn-default btn-full" role="button" data-toggle="collapse" href="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                    人事管理
                                </a>
                                <div id="collapseOne1" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id="menu1" href="#childPage1" class="list-group-item">人事信息</a>
                                        <a id="menu2" href="#childPage2" class="list-group-item">课程信息</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" class="tab_content">
                        <div id="nav_module" style="position: inherit;">
                            <img src="/images/common/module_2.png" width="210" height="58" />
                        </div>


                        <div class="menu">
                            <div class="panel-group collapseMenu" id="accordion" role="tablist" aria-multiselectable="true">
                                <a class="btn btn-default btn-full" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    权限管理
                                </a>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">用户角色</a>
                                        <a href="#" class="list-group-item">菜单设置</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div id="tab3" class="tab_content">
                        <div id="nav_module" style="position: inherit;">
                            <img src="/images/common/module_3.png" width="210" height="58" />
                        </div>

                        <div class="menu">
                            <div class="panel-group collapseMenu" id="accordion" role="tablist" aria-multiselectable="true">
                                <a class="btn btn-default btn-full" role="button" data-toggle="collapse" href="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                                     其他信息
                                </a>
                                <div id="collapseOne2" class="panel-collapse collapse">
                                    <div class="list-group">
                                        <a id="menu3" href="#childPage3" class="list-group-item">考勤信息</a>
                                        <a id="menu1" href="#" class="list-group-item">请假记录</a>
                                        <a id="menu1" href="#" class="list-group-item">出差记录</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="right">
                <div id="top_nav">
                    <span id="here_area">当前位置：系统&nbsp;>&nbsp;系统介绍</span>
                </div>

                <div id="main">
                    <div id="childPage1" class="childPage" style="margin-left: 10px;">
                        <div class="btn-group" style="margin-top: 25px;">
                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">
                                <em class="icon-align-left">添加</em>
                            </button>
                            <button id="editBtn" class="btn btn-default" type="button" data-toggle="modal" data-target="#editModal">
                                <em class="icon-align-left">编辑</em>
                            </button>
                            <button id="delBtn" class="btn btn-default" type="button"><em class="icon-align-center">删除</em></button>
                        </div>
                        <br />
                        <br />
                        <div style="height: 310px;">
                            <table id="tab" class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;">

                                        </th>
                                        <th>
                                            工号
                                        </th>
                                        <th>
                                            姓名
                                        </th>
                                        <th>
                                            年龄
                                        </th>
                                        <th>
                                            职位
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody"></tbody>
                            </table>
                        </div>

                        <!--分页-->
                        <div style="text-align:-webkit-right">
                            <div id="pager" class="pager"></div>
                        </div>

                        <!--添加角色模态框-->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div style="width: 400px;" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                                        <h4 class="modal-title" id="myModalLabel">添加员工</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="firstname" class="col-md-2 control-label">工号</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="jobNum" placeholder="请输入工号">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname" class="col-md-2 control-label">姓名</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="jobName" placeholder="请输入姓名">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="firstname" class="col-md-2 control-label">年龄</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" onkeyup='checkInt(this)' id="jobAge" placeholder="请输入年龄">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname" class="col-md-2 control-label">职位</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="job" placeholder="请输入职位">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="addBtn" type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--编辑角色模态框-->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div style="width: 400px;" class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times</button>
                                        <h4 class="modal-title" id="myModalLabel">编辑员工</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="lastname" class="col-md-2 control-label">姓名</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="upJobName" placeholder="请输入姓名">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="firstname" class="col-md-2 control-label">年龄</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="upJobAge" onkeyup='checkInt(this)' placeholder="请输入年龄">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname" class="col-md-2 control-label">职位</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="upJob" placeholder="请输入职位">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="updateBtn" type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="childPage2" class="childPage" style="margin-left: 10px;">

                    </div>

                    <div id="childPage3" class="childPage" style="margin-left: 10px;">

                    </div>

                </div>
            </div>
        </div>

    </div>
</body>

</html>

<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
@*<script src="~/Scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>*@

<script>
    //var menus = '';
    //$(function () {
    //    $.ajax({
    //        url: "Menu",
    //        success: function (data) {
    //            GetMenu(null, data.menuData);
    //            $("#menu").append(menus);
    //        }
    //    });
    //});
    //var j = 0;
    //function GetMenu(id, data) {
        
    //    var childArry = GetParentArry(id, data);
    //    if (childArry.length > 0) {
    //        if (id == null)
    //            menus += "<ul>";
    //        else {
    //            menus += "<ul class='no'>";
    //        }
    //        for (var i in childArry) {
    //            menus += "<li onClick='ShowMenu(this)'><a href='javascript:void(0)'>" + childArry[i].Name + '</a>';
    //            GetMenu(childArry[i].Code, data);
    //            menus += '</li>';
    //        }
    //        menus += '</ul>';
    //    }
    //}
    

    //function ShowMenu(obj) {
    //    window.event ? window.event.cancelBubble = true : e.stopPropagation();

    //    var HName = obj.parentNode.getElementsByTagName("ul");
    //    for (var i = 0; i < HName.length; i++) {
    //        HName[i].className = "no";
    //    }
    //    if (obj.childNodes[1]) 
    //        obj.childNodes[1].className = "";
    //}


    //function GetParentArry(id, arry) {
    //    var newArry = new Array();
    //    for (var i in arry) {
    //        if (arry[i].fatherId == id)
    //            newArry.push(arry[i]);
    //    }
    //    return newArry;
    //}

    function pager (page, total, callback) {
        var html = '';
        html += '<a class="first" href="javascript:;">首页</a>';
        html += '<a class="first" href="javascript:;">上一页</a>';
        var start = page - 5 < 0 ? 0 : page - 5;
        var end = page + 5 < total ? page + 5 : total;
        for (var i = start; i < end; i++) {
            html += i == page - 1 ? '<span>' + (i + 1) + '</span>' : '<a href="javascript:;">' + (i + 1) + '</a>';
        }
        html += '<a class="first" href="javascript:;">下一页</a>';
        html += '<a class="last" href="javascript:;">末页</a>';
        $("#pager").html(html).find('a').click(function () {
            var p = $(this).text();
            if (p == '上一页') p = page == 1 ? 1 : page - 1;
            if (p == '下一页') p = page == total ? total : page + 1;
            if (p == '首页') p = 1;
            if (p == '末页') p = total;

            if (p != page) callback(parseInt(p));
        });
    }
    var total;

    onload = function () {
        getAllData(0, 5);
    }
    function go(p) {
        $("#pager").append(pager(p, total, go));
        getAllData(p - 1, 5);
    }

    function getAllData(pageNo, pageSize) {
        var s;
        $.ajax({
            url: "UserList",
            data: { pageNo: pageNo, pageSize: pageSize},
            success: function (data) {
                $("#user").html(data.name);
                $("#tab tr:gt(0)").remove();
                for (var i = 0; i < data.UserList.length; i++) {
                    s = "<tr onclick='select(this)'><td><input type='checkbox'/></td><td>" + data.UserList[i].ID + "</td><td>" + data.UserList[i].Name + "</td><td>" + data.UserList[i].Age + "</td><td>" + data.UserList[i].Job + "</td></tr>";
                    $("#tab").append(s);
                    $("#pager").append(pager(pageNo + 1, data.pageTotal, go)); 
                }
            }
        });
    }


    $("#menu1").click(function () {
        pageSwich(0);
    });
    $("#menu2").click(function () {
        pageSwich(1);
        $('#childPage2').load('Course');
    });

    $("#menu3").click(function () {
        pageSwich(2);
        $('#childPage3').load('Check');
    }); 

    $("#back").click(function () {
        window.location = "Index";
    });

    function pageSwich(index) {
        var HName = $("#main")[0].children;
        for (var i = 0; i < HName.length; i++) {
            HName[i].className = "no";
        }
        if (HName[index]) 
            HName[index].className = "";
    }

    
    //正整数
    function checkInt(e) {
        var re = new RegExp("^[0-9]*[1-9][0-9]*$");
        if (e.value != "") {
            if (!re.test(e.value)) {
                e.value = "";
                e.focus();
            }
        }
    }

    var selectPreId; //选择的点击的数据
    var selectData; //选中的数据
    function select(item) {
        $("#tbody").find('tr').attr("style", "backgroundColor");
        $("#tbody").find('tr').eq(item.rowIndex - 1).css({ "backgroundColor": "beige" });
        selectPreId = $("#tbody").find('tr').eq(item.rowIndex - 1).find('td').eq(0)[0].innerText;
        selectData = $("#tbody").find('tr').eq(item.rowIndex - 1).find('td');
    }

    $("#delBtn").click(function () {
        if (selectPreId != null) {
            var msg = "您确定要删除这条数据吗？"
            if (confirm(msg) == true) {
                $.ajax({
                    url: "DelectPreson",
                    data: { id:selectPreId},
                    success: function (data) {
                        alert("删除成功！");
                        window.location.reload();
                    }
                });
            }
        } else
            alert("请选择要删除的数据！")
    });
    
    $("#addBtn").click(function () {
        var jobNum = $("#jobNum").val();
        var jobName = $("#jobName").val();
        var jobAge = $("#jobAge").val();
        var job = $("#job").val();
        
        if (jobNum != null && jobNum != "")
        {
            $.ajax({
                url: "InsertPerson",
                data: { jobNum: jobNum, jobName: jobName, jobAge: jobAge, job: job },
                success: function (data) {
                    alert("保存成功！");
                    window.location.reload();
                }
            });
        } else
            alert("请输入工号！")
    });

    $("#editBtn").click(function ()
    {
        if (selectPreId != null) {
            $("#upJobName").attr("value", selectData[1].innerText); 
            $("#upJobAge").attr("value", selectData[2].innerText);
            $("#upJob").attr("value", selectData[3].innerText);
        } else
        {
            alert("请选择要编辑的数据！");
            //$('#editModal').modal('hide');
            //window.location.reload();
        }
    });

    $("#updateBtn").click(function ()
    {
        var id = selectPreId;
        var name = $("#upJobName").val();
        var age = $("#upJobAge").val();
        var job = $("#upJob").val();
        if (id != null) {
            $.ajax({
                url: "UpdatePreson",
                data: { id: id, name: name, age: age, job: job },
                success: function (data) {
                    alert("保存成功！");
                    //onblur(alert("保存成功！"); this.focus());
                    window.location.reload();
                }
            });
        }
    });


    $(document).ready(function () {
        //默认active 
        $(".tab_content").hide(); //隐藏全部的tab菜单内容
        $("ul.tabs li:first").addClass("active").show(); //对第一个li标签添加class="active属性" 
        $(".tab_content:first").show(); //显示第一个tab内容 

        //点击事件 
        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active"); //移除class="active"属性
            $(this).addClass("active"); //添加class="active"到选择标签中 
            $(".tab_content").hide(); //隐藏全部标签内容 
            var activeTab = $(this).find("a").attr("href"); //找到所属属性值来识别活跃选项卡和内容 
            $(activeTab).fadeIn(); //使内容消失 
            return false;
        });

    });

    $(function () {
        $('#TabPage2 li').click(function () {
            var index = $(this).index();
            $(this).find('img').attr('src', '/images/common/' + (index + 1) + '_hover.jpg');
            $(this).css({ background: '#fff' });
            $('#nav_module').find('img').attr('src', '/images/common/module_' + (index + 1) + '.png');
            $('#TabPage2 li').each(function (i, ele) {
                if (i != index) {
                    $(ele).find('img').attr('src', '/images/common/' + (i + 1) + '.jpg');
                    $(ele).css({ background: '#044599' });
                }
            });
        });
    });
    
</script>